html {
    font-size: 1em;
}

body {
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.45;
    color: #333;
}

p {
    margin-bottom: 1.3em;
    text-align: justify;
}

h1, h2, h3, h4 {
    margin: 0 0 0.5em;
    font-weight: inherit;
    line-height: 1.5em;
}

h1 {
    margin-top: 0;
    font-size: 4.236em;
}

h2 {
    font-size: 2.618em;
}

h3 {
    font-size: 1.618em;
}

.Intro-name {
    text-align: center;
    margin: 0;
    padding: .2em;
}

.Intro-image {
    background: url('../img/conference.jpg') no-repeat center;
    background-origin: border-box;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    text-shadow: 0 2px 2px #000;
    padding: 260px .5em .5em;
    font-size: 2em;
}

.Intro-image p {
    margin-bottom: 0;
    text-align: left;
}

.Content {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
}

.Competence-term {
    font-weight: bold;
}

.Milestone-aside {
    float: right;
    color: #666;
    font-size: .6em;
}

.Contact {
    display: none;
}

.u-emphasis {
    color: #ed2f89;
    font-style: italic;
}